<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="index,nofollow" />
    <title>{{ page_title }}</title>
</head>

<body>
{{ page_body }}
</body>

</html>